.App {
  text-align: center;
}

.AppLogo {
  height: 40vmin;
}

.AppHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AppLink {
  color: #09d3ac;
}

.AppLogos{
  height: 40vmin;

  &:hover{
    height: 45vmin;
  }

}