.Todos {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px auto;
    background: #ffffff;
    border: 2px solid #cccccc;
    box-shadow: 0 0 13px rgba(0, 0, 0, .2);


    .Item {
        display: flex;
        margin-bottom: 0;
        padding: .5rem;
        transition: all .6s;

        &:not(:last-child) {
            border-bottom: 1px solid #cccccc;

        }

        &:hover {
            background: #333a40;
            color: #fff;
            font-weight: bold;
            transform: scale(1.03);
        }

        &>span:first-child {
            flex-grow: 1;
        }
    }


}